<DOCTYPE html>
	<html>
	<head>
	  <title>
		Zamazon
	  </title>
	  <link rel="stylesheet" href="static/styles.css">
	
	</head>
	<body>
	  <header class="nav">
			<div class="name-and-search">
				<span class="brand-name"><a href="/">Zamazon</a></span>
				<form action="/product" method="get" class="product-form">
					<input type="text" name="name" id="product-text" placeholder="What do you need?">
					<input type="submit" value="Search">
				</form>
			</div>
			<ul class="navigations">
				<li><a class="navigation" href="/">Home</a></li>
				<li><a class="navigation" href="/orders">Orders</a></li>
				<li><a class="navigation" href="/cart">Cart</a></li>
				<li><a class="navigation" href="/login">Login</a></li>
				<li><a class="navigation" href="/signup">Sign up</a></li>
			</ul>
		</header>
		<div class="orders-container">
			{% for order in orders %}
				<div class="order-container">
					<span>{{ order['order_date'] }}</span>
					<span>{{ order['total'] }}</span>

				</div>
			{% endfor %}
		</div>
	  
	  
	</body>
	</html>