<DOCTYPE html>
	<html>
	<head>
	  <title>
		Zamazon
	  </title>
	  <link rel="stylesheet" href="static/styles.css">
	
	</head>
	<body>
	  <header class="nav">
			<div class="name-and-search">
				<span class="brand-name"><a href="/">Zamazon</a></span>
				<form action="/product" method="get" class="product-form">
					<input type="text" name="name" id="product-text" placeholder="What do you need?">
					<input type="submit" value="Search">
				</form>
			</div>
			<ul class="navigations">
				<li><a class="navigation" href="/">Home</a></li>
				<li><a class="navigation" href="/orders">Orders</a></li>
				<li><a class="navigation" href="/cart">Cart</a></li>
				<li><a class="navigation" href="/login">Login</a></li>
				<li><a class="navigation" href="/signup">Sign up</a></li>
			</ul>
		</header>
		<div class="orders-container">
			<h1>Order History</h1>
			{% for order in orders %}
					<div class="order-container">
						<div class="order-header">
							<span>{{ order['order_date'] }}</span>
							<span>{{ order['total'] }}</span>
						</div>
						<table>
							<tr>
								<th>Item</th>
								<th>Unit Price</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
							{% for product in products %}
							{% if product["order_date"] == order["order_date"] %}
								<tr>
									<td>{{product["name"]}}</td>
									<td>{{product["price"]}}</td>
									<td>{{product["quantity"]}}</td>
									<td>{{product["price"]*product["quantity"]}}</td>
								</tr>
							{% endif %}
							{% endfor %}
						</table>
					</div>
					<br>

			{% endfor %}
		</div>
	  
	  
	</body>
	</html>