<DOCTYPE html>
	<html>
	<head>
	  <title>
		Zamazon
	  </title>
	  <link rel="stylesheet" href="static/styles.css">
	
	</head>
	<body>
	  <header class="nav">
			<div class="name-and-search">
				<span class="brand-name"><a href="/">Zamazon</a></span>
				<form action="/product" method="get" class="product-form">
					<input type="text" name="name" id="product-text" placeholder="What do you need?">
					<input type="submit" value="Search">
				</form>
			</div>
			<ul class="navigations">
				<li><a class="navigation" href="/">Home</a></li>
				<li><a class="navigation" href="/orders">Orders</a></li>
				<li><a class="navigation" href="/cart">Cart</a></li>
				<li><a class="navigation" href="/login">Login</a></li>
				<li><a class="navigation" href="/signup">Sign up</a></li>

			</ul>
		</header>
	  <div class="signup-container">
			{% if session["email"] %}
				<br><br><br>
				<span class="signup-text">Logged in as {{session["name"]}}</span>
				<br><br><br><br>
				<form action="/logout" method="post">
					<input type="hidden" name="page" value="signup">
					<input type="submit" value="Logout">
				</form>
			{% else %}
				<span class="signup-text">Join Us</span>
				{% if error %}
					<span class="signup-error">{{ error }}</span>
				{% endif %}
				<form action="/signup" method="POST">
					<div class="signup-form-div">
						<label for="name"><b>name</b></label>
						<input type="text" name="name" id="name"><br>
						<label for="email"><b>email</b></label>
						<input type="text" name="email" id="email"><br>
						<label for="password"><b>password</b></label>
						<input type="password" name="password" id="password"><br>
						<input type="submit" value="Login">
					</div>
				</form>
			{% endif %}
			
	  </div>
	  
	</body>
	</html>